<!-- Caminho: Views/Cars/Index.cshtml -->
@model List<YourNamespace.Models.Car>

<div class="container">
    <h1>Destaques</h1>
    <div class="row">
        @foreach (var car in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@car.MainImageUrl" class="card-img-top" alt="@car.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@car.Name</h5>
                        <p class="card-text">@car.Description</p>
                        <a href="@Url.Action("Details", "Cars", new { id = car.Id })" class="btn btn-primary">Ver mais</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
